@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?64ho9z');
  src:  url('fonts/icomoon.eot?64ho9z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?64ho9z') format('truetype'),
    url('fonts/icomoon.woff?64ho9z') format('woff'),
    url('fonts/icomoon.svg?64ho9z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
  content: "\e954";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}

